dist
__pycache__
device.crt
device-key.pem
hsm_secret
*.so
.coverage
*~
site
.DS_Store
target
Cargo.lock

# These files are auto generated and may contain sensible data that
# we do not want to check-in!
tls/users-nobody-key.pem
tls/users-nobody.pem
.coverage.*
.python-version
docs/.cache
