@greenlight:registry=https://us-west2-npm.pkg.dev/c-lightning/test-npm/
//us-west2-npm.pkg.dev/c-lightning/test-npm/:email=not.valid@email.com
//us-west2-npm.pkg.dev/c-lightning/test-npm/:always-auth=true
