name: Check Self

on:
  pull_request:
    types:
      - synchronize
      - opened
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - master

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Build tester image
      run: |
        sudo chmod a+rwx -R libs/gl-client-py
        make docker-image

    - name: Check Self
      run : |
        make docker-check-self

    - name: Run python image
      run : |
        make docker-check-py
