name: Python

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - synchronize
      - opened
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  source:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
          architecture: x64
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Build Source Distribution
        run: uv build --package gl-client --sdist

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-source
          path: dist/gl_client-*.tar.gz

  linux:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64
          - i686
    # aarch64 does not compile due to an old(-ish) compiler with the error
    #  `ARM assembler must define __ARM_ARCH`
    #        - aarch64
    # Temporarily disable armv7 as to github issues fetching a manifest for the architecture.
    # - armv7
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          version: "23.2" # Fixed since we mount the path below
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: libs/gl-client-py
          rust-toolchain: stable
          target: ${{ matrix.target }}
          manylinux: auto
          args: --release --out dist
          docker-options: -v /opt/hostedtoolcache/protoc/v23.2/x64/bin/protoc:/usr/bin/protoc:ro

      - name: Install built wheel (emulated)
        uses: uraimo/run-on-arch-action@v2.5.0
        if: matrix.target != 'ppc64' && matrix.target != 'x86_64' && matrix.target != 'i686'
        with:
          arch: ${{ matrix.target }}
          distro: ubuntu24.04
          githubToken: ${{ github.token }}
          install: |
            apt-get update
            apt-get install -y --no-install-recommends python3 python3-pip
            uv sync
          run: |
            uv pip install libs/gl-client-py/dist/gl_client*.whl --force-reinstall
            python3 -c "import glclient;creds=glclient.Credentials();signer=glclient.Signer(b'\x00'*32,'bitcoin', creds);print(repr(creds));print(signer.version())"

      - name: Install built wheel (native)
        if: matrix.target == 'x86_64'
        run: |
          uv sync
          uv pip install libs/gl-client-py/dist/gl_client*.whl --force-reinstall
          uv run python3 -c "import glclient;creds=glclient.Credentials();signer=glclient.Signer(b'\x00'*32,'bitcoin', creds);print(repr(creds));print(signer.version())"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.target }}
          path: libs/gl-client-py/dist/

  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64
          - aarch64
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - uses: dtolnay/rust-toolchain@nightly

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          version: "23.2"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build wheels - ${{ matrix.target }}
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          working-directory: libs/gl-client-py
          args: --release --out dist
          docker-options: -v /opt/hostedtoolcache/protoc/v23.2/x64/bin/protoc:/usr/bin/protoc:ro
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.9

      - name: Install built wheel
        env:
          PATH: $PATH:$HOME/.local/bin
        if: matrix.target == 'aarch64'
        run: |
          uv sync
          uv pip install libs/gl-client-py/dist/gl_client*.whl --force-reinstall
          uv run python3 -c "import glclient;creds=glclient.Credentials();signer=glclient.Signer(b'\x00'*32,'bitcoin', creds);print(repr(creds));print(signer.version())"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.target }}
          path: libs/gl-client-py/dist/

  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x64
          - x86
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
          architecture: ${{ matrix.target }}
      - uses: dtolnay/rust-toolchain@nightly

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          working-directory: libs\\gl-client-py
          args: --release --out dist

      # Wildcard expansion on windows is different...
      #    - name: Install built wheel
      #      run: |
      #          pip install libs\gl-client-py\dist\gl_client*.whl --force-reinstall
      #          python3 -c "import glclient;creds=glclient.Credentials();signer=glclient.Signer(b'\x00'*32,'bitcoin', creds);print(repr(creds));print(signer.version())"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-win-${{ matrix.target }}
          path: libs\gl-client-py\dist
